body {

    background: rgb(20, 20, 20);
    padding: 0;
    margin: 0;

}

.main_header {

    color: whitesmoke;
    text-align: center;

}

.block {

    padding: 10px;
    background: firebrick;

}

.header {

    color: whitesmoke;
    font-weight: bold;

}

.line {

    border-bottom: 1px solid lightgray;

}

.key {

    font-style: italic;
    
}

.value {

    color: rgb(20, 20, 20);

}